
/* Maplestory colour range from colormind.com */
.aaa {
  background-color: #D0C5C5;
  background-color: #CD323B;
  background-color: #3E2F20;
  background-color: #22A5D8;
  background-color: #4BD9EF;
}

.App {
  text-align: center;
}

.articleCard {
  background-color: #D0C5C5;
  margin: 0.5rem;
  font-size: 0.7rem;
}


.articleImage{
  max-height: 70px;
}


#articlesFilter {
  background-color: #4BD9EF;
  color: white;
  margin: 0.5rem;
}

button{
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 10%;
}

.commentBox{
  border-bottom: 0.1rem solid #3E2F20;
  border-top: 0.2rem solid #3E2F20;
  margin-right: 2rem;
}

/* #currentUserName{
  font-size: 1rem;
  text-align: right;
  padding-right: 1rem;
} */

#currentUserText{
  font-size: 0.6rem;
  margin: 3rem;
  color: black;
  background: #4BD9EF;
  border: 0.6rem solid #4BD9EF;
  border-radius: 45%;
  text-align:center;

  /* text-align: right; */
  /* padding-right: 1rem; */
}

.header{
  background-color: #22A5D8;
  margin: 0.5rem;
  padding: 0%;
  max-height: 10rem;
}

.headerText{
  color: #3E2F20;
  padding-bottom: 0;
  margin: 0;
}

/* .navlink2{
  color: #CD323B;
  margin-bottom: 3rem;
  text-decoration: wavy;
} */

#navAndID{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  justify-content: space-around;
  /* background-color: red; */

}

.postedBy {
  font-size: 0.7rem;
  text-align: left;
  margin: 0.5rem;
}
.quote{
  text-align: left;
  font-size: 0.7rem;
  margin: 0.5rem;
}

.singleArticleCard {
  background-color: #D0C5C5;
  margin: 0.5rem;
  border: 0.5rem solid #3E2F20;
}

.singleArticleCardInners {
  display: flex;
  flex-direction:row;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 2rem;
}

.singleArticleImage{
  max-height: 200px;
}

.singleArticleTitle , .commentsListTitle{
  margin-top: 0.05rem;
  padding-top: 2rem;
  font-size: 1.4rem;
}

#statusString {
  font-size: 0.8rem;
}

ul{
  list-style:none;
}