.App {
  text-align: center;
}

/* Maplestory colour range from colormind.com */
h4 {
background-color: #D0C5C5;
background-color: #CD323B;
background-color: #3E2F20;
background-color: #22A5D8;
background-color: #4BD9EF;
}

.header{
  background-color: #22A5D8;
  margin: 0.5rem;
}

.articleCard {
  background-color: #D0C5C5;
  margin: 0.5rem;
}

.singleArticleCard {
  background-color: #D0C5C5;
  margin: 0.5rem;
}

.singleArticleCardInners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.articleImage{
  max-height: 200px;
}

#articlesFilter {
  background-color: #4BD9EF;
  color: white;
  margin: 0.5rem;
}

#quote{
  text-align: left;
  font-size: 0.7rem;

}

.quote {
  font-style: italic;
}

.singleArticleTitle{
  margin-top: 2rem;
  padding-top: 2rem;
}