
/* Maplestory colour range from colormind.com */
.aaa {
  background-color: #D0C5C5;
  background-color: #CD323B;
  background-color: #3E2F20;
  background-color: #22A5D8;
  background-color: #4BD9EF;
}

.App {
  text-align: center;
}

.article {
  margin-left: 0rem;
  margin-right: 0rem;
}

.articleCard {
  background-color: #D0C5C5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  font-size: 0.7rem;
  border: 0.5rem solid #3E2F20;

}


.articleImage{
  max-height: 70px;
}


#articlesFilter {
  background-color: #4BD9EF;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0rem;
  border: 0.5rem solid #3E2F20;
  text-align: center;
  padding-bottom: 0.3rem;

}

button{
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 5%;
  background-color: #22A5D8;

}

button:hover{
  background-color: #CD323B;
  transition: 0.7s;
}

.buttonAtHeader {
  background-color: #D0C5C5;
}

.ButtonViewArticle{
  margin-bottom: 0.5rem;
}

.commentBox{
  /* border-bottom: 0.1rem solid #3E2F20; */
  /* border-top: 0.2rem solid #3E2F20; */
  margin-right: 1rem;
  margin-left: 0rem;
}

.commentList {
  margin-right: 0rem;
  margin-left: 0rem;
}

/* #currentUserName{
  font-size: 1rem;
  text-align: right;
  padding-right: 1rem;
} */

#currentUserText{
  font-size: 0.6rem;
  margin: 0.2rem;
  color:#3E2F20;
  background-color: #D0C5C5;
  border: 0.4rem solid #4BD9EF;
  border-radius: 35%;
  text-align:center;
  float:inline-end;

  /* text-align: right; */
  /* padding-right: 1rem; */
}

.header{
  background-color: #22A5D8;
  margin: 0.1rem;
  padding: 0%;
  /* max-height: 10rem; */
  border: 0.5rem solid #3E2F20;

}

.headerText{
  color: #3E2F20;
  padding-bottom: 0;
  margin: 0;
}

/* .navlink2{
  color: #CD323B;
  margin-bottom: 3rem;
  text-decoration: wavy;
} */

#navAndID{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  justify-content: space-around;
  /* background-color: red; */

}

#noSelectionYet{
  color:black;
  font-style: italic;
}

#orderBanner, #sortBanner {
  color:#3E2F20;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

#order, #sortBy {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #22A5D8;
  color: black;
  border-radius: 5%;
}

.postedBy {
  font-size: 0.7rem;
  text-align: left;
  margin: 0.5rem;
}
.quote{
  text-align: left;
  font-size: 0.7rem;
  margin: 0.5rem;
}

#selectedTopic {
  font-size: 0.9rem;
  margin-top: 1rem;
}


.singleArticleCard {
  background-color: #D0C5C5;
  margin: 0.5rem;
  border: 0.5rem solid #3E2F20;
}

.singleArticleCardInners {
  display: flex;
  flex-direction:row;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 2rem;
}

.singleArticleImage{
  max-height: 180px;
  object-fit: scale-down;
  /* object-fit: fill; */
}

.singleArticleTitle , .commentsListTitle{
  margin-top: 0.05rem;
  padding-top: 2rem;
  font-size: 1.4rem;
}

#statusString {
  font-size: 0.8rem;
}

ul{
  list-style:none;
}